<!-- NGO Track -->
<section
    class="container my-24 mx-auto px-10 md:px-20 lg:px-8 text-gray-700 dark:text-gray-400 text-center max-w-5xl flex flex-col gap-24">
    <div>
        <h2 class="font-bold text-3xl md:text-5xl lg:min-w-[450px] dark:text-black">Normal Track</h2>
        <p class="text-left text-gray-700">The Normal Track is an opportunity for you to work on a solution that addresses one or more
            of the United Nations' 17 Sustainable Development Goals (SDGs). These goals aim to end poverty, ensure
            prosperity, and protect the planet. <strong class="text-black">You will have the freedom to choose a theme within the 17 SDGs
                and develop a solution that makes a positive impact on that theme.</strong></p>
    </div>

    <div>
        <h2 class="font-bold text-3xl md:text-5xl lg:min-w-[450px] dark:text-black">NGO Track</h2>
        <!-- <h3 class="text-left">General Description:</h3>
                <p class="text-left">There is a problem statement from each NGO we are collaborating with. <strong>Your goal is to come up with a solution that solves any of these problem statements.</strong></p>
                <h3 class="text-left">Sharing Session:</h3>
                <p class="text-left">There will be a sharing session by the NGOs planned for end of January or early February. They will describe their stories, challenges and solutions they have tried. There will also be a Q&A session.</p>
                <h3 class="text-left">Mentoring:</h3>
                <p class="text-left">If your team would like to consult further with the NGOs, we will be organizing mentoring sessions soon!</p> -->
        <p class="text-left text-gray-700">The NGO Track is an opportunity for you to work on a specific problem statement provided by
            our collaborating non-governmental organizations (NGOs). These problem statements address real-world
            challenges that the NGOs are currently facing, and <strong class="text-black">your goal is to come up with a solution that
                addresses these challenges.</strong> You will have the opportunity to attend a sharing session with the
            NGOs, where they will describe their stories, challenges, and solutions they have tried. There will also be
            mentoring sessions available for teams who would like to consult further with the NGOs.</p>
    </div>

    <div class="flex text-left gap-14 flex-col lg:flex-row text-left">
        <!-- Teach For Malaysia -->
        <div class="flex flex-col">
            <h2 class="font-bold text-3xl md:text-5xl lg:min-w-[450px] dark:text-black pb-5">NGO Track #1</h2>
            <a href="https://teachformalaysia.org/" target="_blank" class="flex justify-start">
                <img src="../assets/img/tfm.jpg" alt=""
                    class="w-5/12 max-h-min lg:max-h-20">
            </a>
            <h3 class="font-bold text-xl md:text-3xl lg:min-w-[450px] dark:text-black pt-5">Teach For Malaysia</h3>
            <a href="https://teachformalaysia.org/" target="_blank" class="text-blue-600">
                https://teachformalaysia.org/
            </a>
            <!-- problem statement -->
            <p class="text-lg pt-5"><strong class="text-black">Problem Statement: How can we make it easier for teachers to track student
                    attendance in rural areas?</strong></p>
            <!-- description -->
            <p class="pt-1.5 text-gray-700">The very first step of learning is being there to learn. TFM has found difficulties in
                keeping track of student's attendance and subsequently, a lack of data to enhance their teaching. Many
                teachers use pencil and paper as it is the most convenient.</p>
            <p class="pt-1.5 text-gray-700">Teachers in TFM come from far and wide. Any solution created needs to be low-bandwidth
                proof or offline. Often, TFM loses touch with teachers for close to a month in rural areas.</p>
            <p class="pt-1.5 text-gray-700">Most of the students are primary schoolchildren from government schools. Your effort would
                not only help TFM, but many other organizations pushing for quality education in Malaysia.</p>
        </div>

        <!-- Women For Refugees -->
        <div>
            <h2 class="font-bold text-3xl md:text-5xl lg:min-w-[450px] dark:text-black pb-5">NGO Track #2</h2>
            <a href="https://www.womenforrefugees.org/" target="_blank" class="flex justify-start">
            <img src="../assets/img/wfr.jpg" alt=""
                    class="dark:brightness-50 dark:invert w-5/12 max-h-min lg:max-h-20">
            </a>
            <h3 class="font-bold text-xl md:text-3xl lg:min-w-[450px] dark:text-black pt-5">Women For Refugees</h3>
            <a href="https://www.womenforrefugees.org/" target="_blank" class="text-blue-600">
                https://www.womenforrefugees.org/
            </a>
            <!-- problem statement -->
            <p class="text-lg pt-5"><strong class="text-black">Problem Statement: How do we upskill and empower refugee women to find
                    sustainable forms of income?</strong></p>
            <!-- description -->
            <p class="pt-1.5 text-gray-700">There are an estimated 182,990 refugees in Malaysia. Due to the lack of recognition for
                refugees, access to employment is extremely difficult and abuse is common. Women are on the brunt of
                this displacement.</p>
            <p class="pt-1.5 text-gray-700">WFR currently has the Refugee Women Development Programme (RWDP) for language & financial
                literacy and skill-based training such as sewing and crochet. However, it is difficult to convince women
                to commit cause they do not see the long term benefit of upskilling.</p>
            <p class="pt-1.5 text-gray-700">Furthermore, there is a lack of resources like materials and teachers to conduct
                upskilling programs. Lastly, WFT is always looking for ways to market and sell products made by refugee
                women to outside parties.</p>
        </div>
    </div>
